/*#DetailsForm {*/
/*    text-align: center;*/
/*    font-weight: bold;*/
/*}*/

/*#ActionsForm {*/
/*    text-align: center;*/
/*}*/

#room_select {
    list-style-type: none;
}

#ActionsReviewList {
    list-style-type: none;
}

li {
    font-weight: lighter;
}

.nav-item {
    font-weight: normal;
}

input::placeholder {
    text-align: center;
}

#test_name::placeholder {
    text-align: left;
}

#progressbar, #details-progress, #actions-progress, #review-progress{
    list-style: none;
    display: inline-block;
    padding: 8px 16px;
}